

/*.container.pre_jun {
    position: absolute;
    left: -100px;
    transition: 0.45s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

.container.pre_jun:hover{
    left: 0;
}




.pre_jun{
    top: 20px;
    background-color: #f44336;
}
.jun{
    top: 80px;
    background-color: #2196F3;
}
.jun_plus{
    top: 140px;
    background-color: #4CAF50;
}*/






.pre_jun {
    padding: 10px;
    color: #ff2f2f;
    text-decoration: none;
}
.pre_jun div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ff2f2f;

}
.jun {
    padding: 10px;
    color: #ffac2f;
    text-decoration: none;

}
.jun div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffac2f;
}
.jun_plus {
    padding: 10px;
    color: chartreuse;
    text-decoration: none;

}
.jun_plus div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: chartreuse;
}




