.default {
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
}

.default:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #fff;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
}

.default:hover:before {
    left:95%;
}


.red {
    background: red;
}